.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

@media screen and (max-width: 800px) {
  .logoReactNavbar {
    width: 150% !important;
  }
  .nav1,
  .nav2,
  .nav3,
  .nav4 {
    padding: 4vmax;
    width: 35%;
  }
}
